 /* CSS code */
   body {
    /* background: #477890; */
    padding: 20px;
    background: #0d1e3a;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
   }
   
   h1 {
     font-size: large;
   }
   
   p {
     font-size: small;
   }
   a {
     text-decoration: none;
     color: white;
   }

.profile-img {
  width: 50%;
  border-radius: 50%;
}

.btn {
  display: block;
  text-decoration: none;
  padding: 20px 5px;
  color: black;
  background: white;
  margin: 25px;
  background: white;
    box-shadow: 5px 10px #888888;
    cursor: pointer;
  }
  .btn:hover {
    background:  rgba(132,55,249);
    color: white;
    transition: 0,3s;
  }
  
  .social-icons {
    margin-top: 30px;
    margin-bottom: 30px;
  }
.social-icons {
  margin: 5px;
  cursor: pointer;
}